asterisk-core-sounds-en_AU-alaw-1.4.22.tar.gz
asterisk-core-sounds-en_AU-g722-1.4.22.tar.gz
asterisk-core-sounds-en_AU-g729-1.4.22.tar.gz
asterisk-core-sounds-en_AU-gsm-1.4.22.tar.gz
asterisk-core-sounds-en_AU-siren14-1.4.22.tar.gz
asterisk-core-sounds-en_AU-siren7-1.4.22.tar.gz
asterisk-core-sounds-en_AU-sln16-1.4.22.tar.gz
asterisk-core-sounds-en_AU-ulaw-1.4.22.tar.gz
asterisk-core-sounds-en_AU-wav-1.4.22.tar.gz
